@model IEnumerable<LearnLink.Models.GradeViewModel>

@{
    ViewData["Title"] = "All Grades";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Student</th>
            <th>Grade</th>
            <th>Date and Time</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.Subject</td>
                <td>@(grade.StudentFirstName + " " + grade.StudentLastName)</td>
                <td>@grade.Value</td>
                <td>@grade.DateAndTime.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@(grade.TeacherFirstName + " " + grade.TeacherLastName)</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditGrade" asp-route-id="@grade.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                    <a asp-controller="Admin" asp-action="DeleteGrade" asp-route-id="@grade.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
