@model LearnLink.Models.StudentHomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-4">
    <h1>Welcome to LearnLink, @Model.FirstName!</h1>
</div>

<hr class="mb-4">

<div class="row">
    <div class="col-md-6">
        <div class="menu">
            <h2>Your Average Grade:</h2>
            <p>@Model.Grade</p>
            <a class="btn btn-primary" href="@Url.Action("All", "Grade")">View All Grades</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="menu">
            <h2>Your Recent Attendances:</h2>
            <ul>
                @foreach (var attendance in Model.Attendances.Take(3))
                {
                    <li>@attendance.Subject.Name - @attendance.Status - @attendance.DateAndTime.ToString("dd.MM.yyyy HH:mm")</li>
                }
            </ul>
            <a class="btn btn-primary" href="@Url.Action("All", "Attendance")">View All Attendances</a>
        </div>
    </div>
</div>
