@model AttendanceViewModel

@{
    ViewData["Title"] = "Your Attendances";
}

<div class="text-center mb-4">
    <h1>Attendances</h1>
</div>

<button id="toggleFilters" class="btn btn-primary">Filters</button>

<div id="filterSection" style="display: none;">
    <form method="get" id="filterForm" asp-action="All" asp-controller="Attendance">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="SelectedSubject">Subject</label>
                @Html.DropDownListFor(m => m.SelectedSubject, Model.SubjectOptions, "-- Select Subject --", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="selectedStatus">Status</label>
                @Html.DropDownListFor(m => m.SelectedStatus, Model.StatusOptions, "-- Select Status --", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="dateAfter">After Date</label>
                <input type="date" class="form-control" id="dateAfter" name="dateAfter" value="@((Model.DateAfter != DateTime.MinValue) ? Model.DateAfter.ToString("yyyy-MM-dd") : string.Empty)" asp-format="yyyy-MM-dd" />
            </div>
            <div class="form-group col-md-3">
                <label for="dateBefore">Before Date</label>
                <input type="date" class="form-control" id="dateBefore" name="dateBefore" value="@((Model.DateBefore != DateTime.MinValue) ? Model.DateBefore.ToString("yyyy-MM-dd") : string.Empty)" asp-format="yyyy-MM-dd" />
            </div>
            <div class="form-group col-md-3">
                <button type="button" id="applyFilters" class="btn btn-success">Apply</button>
                <button type="button" id="clearFilters" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Status</th>
            <th>Date and Time</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attendance in Model.FilteredAttendances)
        {
            <tr>
                <td>@attendance.Subject.Name</td>
                <td>@attendance.Status</td>
                <td>@attendance.DateAndTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@(attendance.Teacher.FirstName) @(attendance.Teacher.LastName)</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalCount == 0)
{
    <p>No attendances found.</p>
}
else
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item"><a class="page-link" href="@BuildPaginationLink(1)">First</a></li>
                <li class="page-item"><a class="page-link" href="@BuildPaginationLink(Model.PageNumber - 1)">Previous</a></li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")"><a class="page-link" href="@BuildPaginationLink(i)">@i</a></li>
            }

            @if (Model.PageNumber < Model.TotalPages)
            {
                <li class="page-item"><a class="page-link" href="@BuildPaginationLink(Model.PageNumber + 1)">Next</a></li>
                <li class="page-item"><a class="page-link" href="@BuildPaginationLink(Model.TotalPages)">Last</a></li>
            }
        </ul>
    </nav>
}

@functions {
    public string BuildPaginationLink(int pageNumber)
    {
        string baseUrl = $"?pageNumber={pageNumber}&pageSize=@Model.PageSize";

        if (!string.IsNullOrEmpty(Model.SelectedSubject))
        {
            baseUrl += $"&selectedSubject={Model.SelectedSubject}";
        }

        if (Model.DateBefore != DateTime.MinValue)
        {
            baseUrl += $"&dateBefore={Model.DateBefore.ToString("yyyy-MM-dd")}";
        }

        if (Model.DateAfter != DateTime.MinValue)
        {
            baseUrl += $"&dateAfter={Model.DateAfter.ToString("yyyy-MM-dd")}";
        }

        if (!string.IsNullOrEmpty(Model.SelectedStatus))
        {
            baseUrl += $"&selectedStatus={Model.SelectedStatus}";
        }

        return baseUrl;
    }
}


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleFilters").addEventListener("click", function () {
                var filterSection = document.getElementById("filterSection");
                if (filterSection.style.display === "none") {
                    filterSection.style.display = "block";
                } else {
                    filterSection.style.display = "none";
                }
            });

            document.getElementById("applyFilters").addEventListener("click", function () {
                document.getElementById("filterForm").submit();
            });

            document.getElementById("clearFilters").addEventListener("click", function () {
                document.getElementById("SelectedSubject").selectedIndex = 0;
                document.getElementById("dateAfter").value = "";
                document.getElementById("dateBefore").value = "";
                document.getElementById("SelectedStatus").selectedIndex = 0;

                document.getElementById("filterForm").submit();
            });
        });
    </script>
}
