@model GradeFormViewModel
@{
    ViewData["Title"] = "Add Grade";
}

<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Grade" asp-action="Add" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="SelectedStudentId" class="form-label">Select Student:</label>
                <select asp-for="SelectedStudentId" class="form-control" aria-required="true">
                    <option value="">-- Select Student --</option>
                    @foreach (var studentOption in Model.StudentOptions)
                    {
                        <option value="@studentOption.Value">@studentOption.Text</option>
                    }
                </select>
                @if (!string.IsNullOrEmpty(ViewData["SelectedStudentIdValidationError"] as string))
                {
                    <span class="text-danger">@ViewData["SelectedStudentIdValidationError"]</span>
                }
            </div>

            <div class="mb-3">
                <label asp-for="SelectedSubjectId" class="form-label">Select Subject:</label>
                <select asp-for="SelectedSubjectId" class="form-control" aria-required="true">
                    <option value="">-- Select Subject --</option>
                    @foreach (var subjectOption in Model.SubjectOptions)
                    {
                        <option value="@subjectOption.Value">@subjectOption.Text</option>
                    }
                </select>
                @if (!string.IsNullOrEmpty(ViewData["SelectedSubjectIdValidationError"] as string))
                {
                    <span class="text-danger">@ViewData["SelectedSubjectIdValidationError"]</span>
                }
            </div>
            <div class="mb-3">
                <label asp-for="Grade" class="form-label">Grade:</label>
                <input asp-for="Grade" class="form-control" aria-required="true" step="0.5" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="All" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
